*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    height: 648px;
    justify-content: center;
    align-items: center;
}

.container div{
    width: 400px;
    padding: 10px;
    background-color: #797979;
    margin: 5px;
    text-align: center;
    color: #00000084;
}